PORT="YOUR_PORT"
MONGOURI="YOUR_MONGODB_CONNECTION_STRING"
JWTPRIVATEKEY="YOUR_JWT_PRIVATE_KEY"

MQTT_BROKER_URL=your-broker-url
MQTT_PORT=8883
MQTT_USERNAME_SERVER=your-username
MQTT_PASSWORD_SERVER=your-password
